body {
    font-family: sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    
}

.image-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-area {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.clock-area {
    position: relative;
}

h1 {
    margin: 0;
    padding-top: 200px;
    color: white;
    font-size: 80px;
}

h4 {
    font-size: 60px;
    color: whitesmoke;
}

.showing {
    display: block;
}

.js-form {
    display: none;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    animation: fadeIn .5s ease-in-out;
}

.local-weather {
    font-size: 30px;
    color: white;
}

@keyframes  fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}